@media (min-width: 992px) {
  #team .container .d-flex {
    width: 15%;
  }
}
/* when I apply other media they overwrite previous madia */

@media (min-width: 692px) {
  #team .container .d-flex {
    width: 25%;
  }
}
@media (min-width: 592px) {
  #team .container .d-flex {
    width: 40%;
  }
}

@media (min-width: 92px) {
  #team .container .d-flex {
    width: 50%;
  }
}
